html.light {
  --sys-bg-color: #f8f8fb;
  --sys-box-bg-color: #fff;
  --sys-wrapper-bg-color: #fff;
  --sys-deep-wrapper-bg-color: #fff;
  --sys-text-color: #212529;
  --sys-card-text-color: #f9f9f9;
  --sys-text-secondary-color: #6c757d;
  --sys-deep-text-color: #86909c;
  --sys-text-contrast-color: #fff;
  --sys-border-color: #dee2e6;
}
