.hover-wrapper {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: var(--theme-color);
    color: var(--sys-text-contrast-color);
  }
}

.hover-common-wrapper {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: var(--sys-deep-wrapper-bg-color);
  }
}

.hover-weak-wrapper {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: var(--theme-color);
    background-color: var(--theme-hover);
  }
}

.hover-text {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: var(--theme-color);
  }
}
.active-text {
  color: var(--theme-color);
}

.hover-border {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    border-color: var(--theme-color);
  }
}

.wrapper-item {
  background-color: var(--sys-wrapper-bg-color);
  border-radius: var(--sys-border-size);
  border: solid 1px var(--sys-border-color);
}
.wrapper-color {
  background-color: var(--sys-wrapper-bg-color);
}
.deep-wrapper-item {
  background-color: var(--sys-deep-wrapper-bg-color);
  color: var(--sys-deep-text-color);
}

.active-item {
  background-color: var(--theme-color);
  color: var(--sys-text-contrast-color);
  &:hover {
    background-color: var(--theme-color);
    color: var(--sys-text-contrast-color);
  }
}

.weak-active-item {
  color: var(--theme-color);
  background-color: var(--theme-hover);
  &:hover {
    color: var(--theme-color);
    background-color: var(--theme-hover);
  }
}

.strong-active-item {
  color: var(--sys-card-text-color);
  background: var(--theme-card-bg);
  border-color: var(--theme-card-bg) !important;
  &:hover {
    color: var(--sys-card-text-color);
    background: var(--theme-card-bg);
    border-color: var(--theme-card-bg) !important;
  }
}

.line-active-item {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color: var(--theme-color);
  }
}

.wrapper-filter-item {
  background: linear-gradient(135deg, var(--theme-hover), transparent);
  backdrop-filter: blur(12px);
  border-radius: var(--sys-border-size);
  border: solid 1px var(--theme-color);
  color: var(--sys-text-color);
}

.wrapper-solid-item {
  background: var(--theme-card-bg);
  border-radius: var(--sys-border-size);
  border: solid 1px var(--theme-card-bg);
  color: var(--sys-card-text-color);
  backdrop-filter: blur(12px);
}

.wrapper-solid-text {
  color: var(--sys-card-text-color);
}

.border-wrapper {
  border: solid 1px var(--sys-border-color);
  background-color: var(--sys-wrapper-bg-color);
}

.border-border {
  border: solid 1px var(--sys-border-color);
}
.border-bottom {
  border-bottom: solid 1px var(--sys-border-color);
}
.border-right {
  border-right: solid 1px var(--sys-border-color);
}

.border-left {
  border-left: solid 1px var(--sys-border-color);
}
.border-top {
  border-top: solid 1px var(--sys-border-color);
}

.side-bar {
  background: linear-gradient(180deg, var(--theme-hover), transparent);
  backdrop-filter: blur(12px);
}
